.banIcon {
  cursor: not-allowed;
}

.manifestB {
  margin-right: 10px;
}

#manifestAndButtons {
  position: fixed;
  margin-left: 50px;
  margin-top: 8px;
}

#manifest {
  position: static;
  height: 85vh;
}

@media (max-width: 992px) {
  #manifestAndButtons {
    position: static;
    margin-left: 0px;
    overflow: visible;
  }

  #manifest {
    height: 100%;
  }
}
