<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-basic-title">Manifest</h3>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <sf-form [schema]="manifest" [bindings]="manifest.fieldBindings[sourceField]"></sf-form>
    </div>
    
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
    </div>
</ng-template>

<div class="container-fluid">
    <div class="row page">
        <div class="col-md-5">
            <sf-form [schema]="Schema" (onChange)="manifest=$event.value" [bindings]="myFieldBindings"></sf-form>
        </div>

        <div class="col-md- manifest">
            <h3>Manifest:</h3>
            <pre>{{manifest | json}}</pre>
            <button [disabled] = "isFormValid() == false" type="button" class="btn btn-outline-primary" (click)="open(content)">Render</button>
        </div>
    </div>
</div>
